<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMediaTags" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMediaTags" contract="IMediaTags"
          name="BasicHttpBinding_IMediaTags" />
    </client>
  </system.serviceModel>
</configuration>